<% include ./partial/header %><% include ./partial/hodfunction %>
<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
    max-width: 60%;
    margin-left: 431px;
    margin-top: -251px;  text-align: -webkit-center;"
>
  <form action="/hod/<%=hod.id%>/leave/<%=student.id%>/info" method="POST">
    <div class="container-fluid bg-3 text-center">
      <h1 style="margin-top: 100px;"><%=student.name %></h1>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <img
            style="height:150px;width:150px;border-radius: 100%"
            src="https://freepngimg.com/thumb/facebook/62681-flat-icons-face-computer-design-avatar-icon.png"
            alt="image"
          />
        </div>
        <%student.leaves.forEach(function(leave){%>
        <div class="col-sm-4" style="width: 100%">
          <h5><strong> Subject:</strong><%=leave.subject %></h5>
          <h5>Status:<%=leave.status %></h5>
          <h5>From:<%=moment(leave.to).format('DD/MM/YYYY') %></h5>
          <h5>To:<%=moment(leave.from).format('DD/MM/YYYY') %></h5>
          <h5><%=leave.days%></h5>
          <h5>Department:<%=student.department %></h5>
          <div class="col-sm-6">
            <input
              type="submit"
              class="btn btn-block btn-success"
              name="action"
              value="Approve"
            />
            <input
              type="submit"
              class="btn btn-block btn-danger"
              name="action"
              value="Deny"
            />
          </div>
        </div>

        <%})%>
      </div>
    </div>
  </form>
  <% include ./partial/footer %>
</div>
