<% include ./partial/header %> <% include ./partial/wardenfunction%>


<div class="col-sm-6" style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 400px;
margin-right: 800;
margin-top: -165px ;  text-align: -webkit-center;">
      <div class="thumbnail">
        <img style="height:150px;width:150px;border-radius: 100%" src="https://freepngimg.com/thumb/facebook/62681-flat-icons-face-computer-design-avatar-icon.png" />
        <h4>Name:<%=warden.name%></h4>
        <h4>Type:<%=warden.type%></h4>

        <h4>Username: <%=warden.username%></h4>
        <h4>Hostel:<%=warden.hostel%></h4>
      </div>
      <a class="btn btn-warning" href="/warden/<%=warden._id%>/edit">Edit</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
