<% include ./partial/header %> <% include ./partial/studfunction %>

  
    <div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 60%;
    margin-left: 300px;
    margin-right: 800;
    margin-top: -181px; text-align: -webkit-center;">
      <div class="thumbnail">
        <img  style="height:180px;width:180px;border-radius: 100%" 
        src="https://freepngimg.com/thumb/facebook/62681-flat-icons-face-computer-design-avatar-icon.png" />

        <h4>Name:<%=student.name%></h4>
        <h4>Type:<%=student.type%></h4>
        <h4>Username: <%=student.username%></h4>
        <h4>Department:<%=student.department%></h4>
        <h4>Hostel: <%=student.hostel%></h4>
      </div>
      <a class="btn btn-warning" href="/student/<%=student._id%>/edit">Edit</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
