<% include ./partial/header %>
<div
  class="col-sm-9"
  style="margin: 50px 125px;    text-align: -webkit-center; margin-top: 70px;"
>
  <form
    action="/warden/<%=warden.id%>/leave/<%=student.id%>/info"
    method="POST"
  >
    <div
      class="container-fluid bg-3 text-center"

    >
      <h2 style="color: darkslategrey;"><%=student.name %></h2>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <img
            style="border-radius: 10%"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQLHZh0aF5Og2DF4G19yPVx_QGjXfaBByFZA&usqp=CAU"
            alt="image"
          />
        </div>
        <%student.leaves.forEach(function(leave){%>
        <div class="col-sm-4">
          <h5><strong> Subject:</strong><%=leave.subject %></h5>
          <h5>Status:<%=leave.wardenstatus %></h5>
          <h5>From:<%=moment(leave.to).format('DD/MM/YYYY') %></h5>
          <h5>To:<%=moment(leave.from).format('DD/MM/YYYY') %></h5>
          <h5><%=leave.days%></h5>
          <h5>Hostel:<%=student.hostel%></h5>
          <h5>Department:<%=student.department %></h5>
          <div style="float:inherit">
            <input
              type="submit"
              class="btn btn-block btn-success"
              name="action"
              value="Approve"
            />
            <input
              type="submit"
              class="btn btn-block btn-danger"
              name="action"
              value="Decline"
            />
          </div>
        </div>

        <%})%>
      </div>
    </div>
  </form>
  <a href="/">Back</a>
</div>
<% include ./partial/footer %>
